  <!-- footer  -->
    <div class="container-fluid footer-partners">
        <div class="row">

        <div class="col-sm-3 col-xs-12">
             
        </div> 
          
        <div class="col-sm-3 col-xs-12 text-center">
            <img src="./img/Cortex-logo.png" ></a>
                </div> 
        
        <div class="col-sm-3 col-xs-12 text-center">
            <img src="./img/p3.png" style="height:80px;margin-top:-12px"></a>
                </div> 
        
         <div class="col-sm-3 col-xs-12">
             
        </div> 

      </div> <!-- row -->
    </div>  <!-- container-fluid -->    
    
      <footer>
        <i class="fa fa-twitter"></i> &nbsp;
      <i class="fa fa-facebook-square"></i>
        </footer>
      <!-- footer  -->  
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>