<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Report Format</title>
		 <% include ./partials/head %>
	</head>
	<body>
	   <!-- nav bar starts here -->
	     <% include ./partials/header %>
	  <!-- nav bar ends here -->
	  
	   <div class="container-fluid new-surveyor-form_bg-img">
        
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <br/>
                <h3 class="select-building-type">  
                    <span style="background-color: #73b6d2; border : 4px solid #73b6d2; border-radius: 20px; color: #fff;"> Rapid Seismic Vulnerability Assessment Report 
                    </span> 
                 </h3>
            

                <div class="row" style="margin:0; padding-top:25px; padding-bottom:10px; background:#f5f5f5;">
                 
                 <!-- img column start -->
                    <div class="col-sm-6">
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="profile-img-wrap">
                                    <img src="img/bk.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-sm-6" style="padding-right:0">
                                <div class="elevation-img-wrap">
                                    <img src="img/image-2.png" class="img-responsive">
                                </div>
                                <div class="side-view-img-wrap">
                                    <img src="img/image-4.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-sm-6" style="padding-left:0">
                                <div class="plan-img-wrap">
                                    <img src="img/image-3.png" class="img-responsive">
                                </div>
                                <div class="isometric-img-wrap">
                                    <img src="img/image-1.png" class="img-responsive">
                                </div>
                            </div>
                            
                        </div>
                        
                    </div> <!-- col-sm-6 -->
                    
                  <!-- img column end -->
                  
                  <!-- question/answer column start -->
                    
                    <div class="col-sm-6">
                       
                      <div class="general-info-wrap">
                          
                        <h4 class="section-heading">
                          <span style="background-color: #6bb36b; border : 4px solid ; border-radius: 20px; color: #fff;"> 
                            <b> General Information  </b>
                          </span>
                        </h4>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="question-block">Q) Lorem Ipsum 1</a>
                                    </h4> 
                                </div>  <!-- panel-heading-->
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body answer-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                </div> <!-- id="collapse1" -->
                            </div> <!-- panel-default -->
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="question-block">Q) Lorem Ipsum 2</a>
                                    </h4> 
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body answer-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                </div> <!-- id="collapse2"  -->
                            </div>  <!-- panel-default -->
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="question-block">Q) Lorem Ipsum 3</a>
                                    </h4> 
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body answer-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>  <!-- id="collapse3"  -->
                            </div>  <!-- panel-default -->
                        </div> <!-- id="accordion" -->
                          
                      </div> <!-- general-info-wrap -->
                        
                      <div class="technical-info-wrap">
                        
                        <h4 class="section-heading">
                          <span style="background-color: #6bb36b; border : 4px solid ; border-radius: 20px; color: #fff;"> 
                                <b> Technical Information -</b>
                          </span>
                        </h4>
                        <div class="panel-group" id="accordion-2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-one" class="question-block">Q) Lorem Ipsum 1</a>
                                    </h4> 
                                </div>  <!-- panel-heading-->
                                <div id="collapse-one" class="panel-collapse collapse in">
                                    <div class="panel-body answer-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                </div> <!-- id="collapse-one" -->
                            </div> <!-- panel-default -->
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-two" class="question-block">Q) Lorem Ipsum 2</a>
                                    </h4> 
                                </div>
                                <div id="collapse-two" class="panel-collapse collapse">
                                    <div class="panel-body answer-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                </div> <!-- id="collapse-two"  -->
                            </div>  <!-- panel-default -->
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-three" class="question-block">Q) Lorem Ipsum 3</a>
                                    </h4> 
                                </div>
                                <div id="collapse-three" class="panel-collapse collapse">
                                    <div class="panel-body answer-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>  <!-- id="collapse-three"  -->
                            </div>  <!-- panel-default -->
                        </div> <!-- id="accordion-2" -->
                      
                      </div>  <!--  technical-info-wrap -->
                    
                    </div> <!-- col-sm-6 -->
                  <!-- question/answer column end -->
                    
                 <div class="col-sm-12">
                     
                    <div class="comments-para-wrap">
                        
                        <h4><b>Comments -</b></h4>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        
                    </div> <!-- comments-para-wrap  -->
                     
                    <br/>
                    
                    <table class="table table-bordered">
                        <caption class="caption_header">
                                <span style="background-color: #6bb36b; border : 4px solid ; border-radius: 20px; color: #fff;"> 
                                 Summary Of Survey </span>  </caption>
                        <thead>
                            <tr>
                                <th>Features</th>
                                <th>Available</th>
                                <th>Comment</th>
                                <th>Features</th>
                                <th>Not Available</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Plinth Band</td>
                                <td><i class="fa fa-check"></i></td>
                                <td>Good</td>
                                <td>Balcony</td>
                                <td><i class="fa fa-times"></i></td>
                                <td>Doesn't Matter</td>
                            </tr>
                            <tr>
                                <td>Roof Band</td>
                                <td><i class="fa fa-check"></i></td>
                                <td>Good</td>
                                <td>Plan Regularity</td>
                                <td><i class="fa fa-times"></i></td>
                                <td>Should have been</td>
                            </tr>
                            <tr>
                                <td>Lintel Band</td>
                                <td><i class="fa fa-check"></i></td>
                                <td>Good</td>
                                <td>Elevation Irregularity</td>
                                <td><i class="fa fa-times"></i></td>
                                <td>Should have been present</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <br/>
                    
                  <div class="seismic-assessment-wrap">
                    
                   <h4 class="section-heading">
                          <span <span style="background-color: #6bb36b; border : 4px solid ; border-radius: 20px; color: #fff;"> 
                                    <b>Seismic Assessment</b>
                          </span>
                   </h4>
                    <div class="panel-group" id="accordion-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-3" href="#collapse-four" class="question-block">Q) Lorem Ipsum 1</a>
                                </h4> 
                            </div>  <!-- panel-heading-->
                            <div id="collapse-four" class="panel-collapse collapse in">
                                <div class="panel-body answer-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div> <!-- id="collapse-one" -->
                        </div> <!-- panel-default -->
                            
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-3" href="#collapse-five" class="question-block">Q) Lorem Ipsum 2</a>
                                </h4> 
                            </div>
                            <div id="collapse-five" class="panel-collapse collapse">
                                <div class="panel-body answer-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div> <!-- id="collapse-two"  -->
                        </div>  <!-- panel-default -->
                            
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-3" href="#collapse-six" class="question-block">Q) Lorem Ipsum 3</a>
                                </h4> 
                            </div>
                            <div id="collapse-six" class="panel-collapse collapse">
                                <div class="panel-body answer-block">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>  <!-- id="collapse-three"  -->
                        </div>  <!-- panel-default -->
                    </div> <!-- id="accordion-3" -->
                   
                  </div> <!-- seismic-assessment-wrap  -->
                     
                  <div class="final-assess-wrap">
                    
                    <h4 class="section-heading">
                          <span <span style="background-color: #6bb36b; border : 4px solid ; border-radius: 20px; color: #fff;"> 
                                <b>Final Conclusion -</b>
                          </span>
                     </h4>

                    <p class="final-conclusion"><span>Deficiencies:</span> Lorem Ipsum Proin Gravida nibh vel velit auctor aliquet. Lorem Ipsum Proin Gravida nibh vel velit auctor aliquet. Lorem Ipsum Proin Gravida nibh vel velit auctor aliquet. </p>
                     
                    <p class="action-required"><span>Action Required:</span> Lorem Ipsum Proin Gravida nibh vel velit auctor aliquet. Lorem Ipsum Proin Gravida nibh vel velit auctor aliquet. Lorem Ipsum Proin Gravida nibh vel velit auctor aliquet. </p>
                     
                    <p class="further-assessment"><span>Further Assessment Required:</span> Yes</p>
                    <!--
                        <p>Do you want to Contact Professional agency(it will show the address of the company, also our client will get a consultancy request mail from client.</p>
                     -->
                  </div> <!-- final-assess-wrap -->  
                     
                    <br/>
                    <div class="text-center">
                                                 
                        <button type="button" class="btn btn-print btn-sm">Print</button> &nbsp; &nbsp; &nbsp;
                       
                       <button type="button" class="btn btn-email btn-sm">Email Report</button> &nbsp; &nbsp; &nbsp;
                       
                       <a href="/showform" type="button" class="btn btn-retake-survey btn-sm">Retake Survey</a>


                        <div class="clearfix"></div>
                        <br/>
                       
                        <p class="blink_me" style="color: red"> 
                           <b style=" font-size: 16px "> If you want your survey report to be reviewed by our expert 
                               <a id="btn" href="/support" style="color: blue ;">Contact us</a> here
                           </b>
                       </p>
                       <br/> <br/>
                       
                       <p class="text-center" style="font-size: 18px" ><b>If you are satisfied with our Survey , you can donate here <a href="http://www.google.com">www.google.com</a> as per your wish. It is non-profitable survey site. We maintain this site with the help of your donation money.</b></p>
                    
                    </div>  <!-- text-center -->
                    
                    <br/>
                    
                  </div> <!-- col-sm-12 -->
          
                </div> <!-- row -->
            
            </div> <!-- col-sm-12 -->
        
        </div> <!--  sign-up-bg_img -->
	  
	  <!-- footer  -->
		  <% include ./partials/footer %>
      <!-- footer  --> 	
	    
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	        <script>
            $(document).ready(function() {
                $('#btn').click(function() {
                    $.ajax({
                        type: "POST",
                        url: "/MoveToSupport",                         
                        data : {'PageToSupport': 'report'},                         
                        success: function(result) {
                              location.href= "/support";
                            }

                        });
                    });
                })             
            </script>
	</body>
</html>