<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registered Msg For New Surveyor</title>
    <% include ./partials/head %>
</head>

<body ng-controller="MainCtrl">
    <!-- nav bar starts here -->
    <% include ./partials/header %>
        <!-- nav bar ends here -->
        <div class="container-fluid new-surveyor-form_bg-img">
            <br/>
            <br/>
            <br/>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1">
                <div class="new-surveyor-form-bg congratulatory-msg">
                    <h3 class="label-congratulations"> <span class="">
                    <img src="img/tic.png"/>
                    </span> Survey Completed Succesfully !!</h3>
                    <a href="/report" class="orange-btn-big">Generate Survey Report </a>
                    <div align="center">
                            <p class="blink_me" style="color: red">
                                <b > If you want your survey report to be reviewed by our expert 
                                       <a id="btn" href="#" style="color: blue">Contact us</a> here
                               </b>
                            </p>
                    </div>
                    <br/>
                    <p class="text-center" style="font-size: 16px"><b>If you are satisfied with our Survey, you can donate here <a href="http://www.google.com">www.google.com</a> as per your wish. It is non-profitable survey site. We maintain this site with the help of your donation money.</b></p>
                </div>
            </div>
            <!-- sign-up-bg -->
        </div>
        <% include ./partials/footer %>
            <!-- container-fluid -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script>
            $(document).ready(function() {
                $('#btn').click(function() {
                    $.ajax({
                        type: "POST",
                        url: "/MoveToSupport",                         
                        data : {'PageToSupport': 'SurveyDone'},                         
                        success: function(result) {
                              location.href= "/support";
                            }

                        });
                    });
                })             
            </script>
</body>

</html>
