<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registered Msg For New Surveyor</title>
        <% include ./partials/head %>
    </head>
    <body ng-controller="MainCtrl">
       <!-- nav bar starts here -->
        <% include ./partials/header_signin %>
      
      <!-- nav bar ends here -->
      
        <div class="container-fluid new-surveyor-form_bg-img">
            <br/><br/> <br/>
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1">
                <div class="new-surveyor-form-bg congratulatory-msg">
                    <h3 class="label-congratulations"> <span style="color:  #f3810f" class=""><i class="fa fa-smile-o"></i></span> Congratulations  <span style="color : red">!! </span> </h3>
     
                    <p> Now you are a registered <span style="color: blue"> <%= member %>  </span>  <br/> Your password has been send on your email Id <span style="color: blue"> <%= email %> </span>
                     </p> <br/>


                </div>
            </div>  <!-- sign-up-bg -->
        
        </div> <!-- container-fluid -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    
    </body>
</html>